<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">

  <%= link_to 'Home', root_path, class: "navbar-brand text-white" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" href="#"></a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      
<div class="nav">
    <%if user_signed_in? %>
      <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% else %>
    <ul class="navbar-nav me-auto mb-4 mb-lg-0">
      <%= link_to "Sign In", new_user_session_path %>
      </ul>
      <ul>
       <li><%= render "devise/shared/links" %></li>
       </ul>
    <% end %>
  </div>
    </div>
  </div>
</nav>