<%= form_with model: Comment, url: user_post_comments_path(@post.author, @post) do |f| %>
  <section>
    <div>
      <%= f.text_area :text, placeholder: "Add Comment", row: 25, required: true %>
    </div>
    <div>
      <%= f.submit "Create Comment" %>
    </div>
    </section>
<% end %>